@use '../abstracts' as abstract;

body {
  font: var(--fw-copy) var(--fs-copy) var(--ff-copy);
  line-height: var(--leading-primary);
  color: var(--color-copy);
  background-color: var(--color-body-bg);
  display: grid;
  place-content: center;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-hr);
}

a {
  text-decoration: var(--link-text-decoration);
  color: var(--color-link);
  transition: var(--link-transition);

  @include abstract.hover {
    text-decoration: var(--link-text-decoration-active);
    color: var(--color-link-active);
  }
}

.heading {
  font-weight: var(--fw-heading);
  font-family: var(--ff-heading);
  color: var(--color-heading);
}
