@use '../abstracts' as abstract;

body {
  font: var(--fw-copy) var(--fs-copy) var(--ff-copy);
  line-height: var(--leading-primary);
  color: var(--color-copy);
  background-color: var(--color-body-bg);
}
