@use '../abstracts' as abstract;

.nft-card {
  background-color: var(--nft-card-bg);
  border-radius: var(--nft-card-radius);
  padding: var(--nft-card-padding);

  &__item {
    .heading {
      font-size: var(--nft-card-item-heading-fs);
      margin-top: var(--nft-card-item-heading-margin-top);
    }

    &-img {
      border-radius: var(--nft-card-item-img-radius);
      overflow: hidden;
      display: block;
      width: 100%;
      height: auto;
      position: relative;

      &-overlay {
        @include abstract.flex;

        position: absolute;
        inset: 0;
        opacity: 0;
        transition: var(--link-transition);
        background-color: var(--nft-card-item-img-bg-active);

        @include abstract.hover-focus {
          opacity: 1;
        }
      }
    }

    &-content {
      p {
        margin-top: var(--nft-card-content-margin-top);
      }
    }

    &-pricing {
      margin-top: var(--nft-card-pricing-margin-top);
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        @include abstract.flex;
      }
    }
  }
}
