@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;

.nft-component {
  padding: var.$nft-padd;
  border-radius: var.$nft-radius;
  background-color: var.$nft-bg;

  // NFT Featured Image
  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var.$nft-img-radius;
    overflow: hidden;

    // NFT Featured Image Hover Overlay
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var.$nft-img-overlay-bg;
      opacity: 0;
      transition: var.$nft-img-overlay-trans;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: url('../assets/images/icon-view.svg');
      }

      @include mixin.hover-focus-within {
        opacity: 1;
      }
    }
  }

  // NFT Content
  &__content {
    p {
      margin-top: var.$nft-content-marg-top;
      line-height: var.$nft-content-leading;
    }

    .title {
      margin-top: var.$nft-title-marg-top;
      font-size: var.$nft-title-fs;
    }
  }

  // NFT Details
  &__details {
    margin-top: var.$nft-content-marg-top;

    ul {
      display: inline-block;
    }

    li {
      &:last-child {
        float: right;
      }
    }

    li,
    img {
      display: inline-block;
    }
  }

  // NFT Author
  &__author {
    @include mixin.flex;

    justify-content: flex-start;
    font-size: var.$nft-author-fs;

    img {
      width: var.$nft-author-img-width;
      height: var.$nft-author-img-height;
      margin-right: var.$nft-author-img-marg-right;
      border-radius: var.$nft-author-img-radius;
      border: var.$nft-author-img-border;
    }
  }
}
